*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body 
{	
	color: #fff;
}

.content
{
	background: url('../img/wallpaper.jpg');
	min-height: 300px;
	background-attachment: fixed;
	background-size: cover;
	padding: 10px;
}